.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--blue);
    min-height: 400px;
    color: var(--white);
    padding: 0 30px;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact-info { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 0.5rem; 
}

.social-medias-container {
    display: flex;
    column-gap: 40px;
}

i {
    font-size: 24px;
}

/*Small*/
@media screen and (max-width: 768px) {
    .contact-container {
        padding: 10px;
    }

    .contact-info {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        row-gap: 30px;
    }
}