.contact-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    min-height: 100px;
    color: var(--white);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.social-medias-container {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 24px;
}

/*Small*/
@media screen and (max-width: 768px) {
    .contact-container {
        padding: 10px;
    }

    .logo-container p {
        display: none;
    }
}