<div class="section-container grid-container">
    <div class="text-white">
        <h2 class="title-section">{{ sectionData.title }}</h2>
        <p class="justified-text">{{ sectionData.description }}</p>
        <div class="btn-contact" routerLink="" fragment="contact">
            <button class="my-btn white-btn-outline">
                {{ sectionData.ctaButton }}
            </button>
        </div>
    </div>
    <div class="text">
        <h2 class="text-white title-section">{{ sectionData.skillsTitle }}</h2>
        <div class="skills-container">
            <span class="skill" *ngFor="let skill of skills">{{ skill }}</span>
        </div>
    </div>
    <div class="text-white">
        <h2 class="title-section">{{ sectionData.educationTitle }}</h2>
        <hr>
        <div *ngFor="let education of educationList">
            <p><strong>{{ education.career }}</strong></p>
            <p>{{ education.institution }}</p>

            <div class="date-city italic-text">
                <p>{{ education.startDate }} - {{ education.endDate ? education.endDate : sectionData.presentLabel }}</p>
                <p>{{ education.city }}</p>
            </div>
            <hr>
        </div>
    </div>
    <div class="text-white">
        <h2 class="title-section">{{ sectionData.certificationsTitle }}</h2>
        <hr>
        <div *ngFor="let certification of certifications">
            <p>{{ certification.name }}</p>
            <p><strong>{{ certification.certifying }}</strong></p>
            <div class="div-link">
                <p class="italic-text">Expedición: {{ certification.expeditionDate | date: 'MMM y' }}</p>
                <a class="a-icons" [href]="certification.link" target="_blank" aria-label="Enlace a las certificación"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
            <hr>
        </div>
    </div>
</div>