.grid-container {
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 60px 30px;
    text-align: justify;
    padding-top: 200px;
    padding-bottom: 200px;
}

h2 { font-weight: bold; }

.education-card {
    border: solid 1px var(--white);
    padding: 8px;
    border-radius: 8px;
}

.date-city {
    display: flex;
    justify-content: space-between;
}

hr {
    border: 1px solid var(--white);
}

.div-link {
    display: flex;
    column-gap: 10px;
}

/*Small*/
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .btn-contact {
        text-align: center;
    }
}