<div class="section-container">
    <div class="title-section">
        <h2><strong><span class="text-blue">Experiencia</span> profesional</strong></h2>
        <p>Aquí encontrará mis experiencias en las empresas en las que he colaborado.</p>
    </div>

    <div class="experience-card" *ngFor="let project of projects">
        <div>
            <p class="light-text">{{ project.startDate | date: 'MMM y' }} - {{ !project.endDate ? 'Presente': project.endDate | date: 'MMM y' }}</p>
        </div>
        <div>
            <h3><strong>{{ project.name }}</strong></h3>
            <p class="italic-text">{{ project.position }}</p>
            <ul>
                <li *ngFor="let responsability of project.responsabilities">{{ responsability }}</li>
            </ul>

            <div class="skills-container">
                <span class="skill" *ngFor="let skill of project.skills">{{ skill }}</span>
            </div>
        </div>
    </div>
</div>