<div id="" class="section-container grid-container">
    <div class="grid-items">
        <div class="title-section">
            <h2 class="text-blue">{{ sectionData.greeting }}</h2>
            <h1>{{ sectionData.name }}</h1>
            <p>{{ sectionData.subtitle }}</p>

            <button class="my-btn blue-btn" routerLink="/" fragment="about">
                {{ sectionData.ctaButton }}
            </button>
        </div>
    </div>
    <div class="grid-items div-ilustration">
        <img class="ilustration" src="/assets/ilustration_lighter_lips.svg" alt="Ilustración de Hernando Rumbo">
    </div>
</div>

<app-about id="about"></app-about>
<app-experience id="experience"></app-experience>
<hr>
<app-projects id="projects"></app-projects>
<app-contact id="contact"></app-contact>