<div id="" class="section-container grid-container">
    <div class="grid-items">
        <div class="title-section">
            <h2 class="text-blue">Bienvenido.</h2>
            <h1>Soy Hernando Rumbo,</h1>
            <p>un ingeniero de sistemas apasionado por el desarrollo de software.</p>
            
            <button class="my-btn blue-btn" routerLink="/" fragment="about">
                Más sobre mí
            </button>
        </div>
    </div>
    <div class="grid-items div-ilustration">
        <img class="ilustration" src="../../../../assets/ilustration_lighter_lips.svg" alt="Ilustración de Hernando Rumbo" width="493px" height="576px">
    </div>  
</div>

<app-about id="about"></app-about>
<app-experience id="experience"></app-experience>
<hr>
<app-projects id="projects"></app-projects>
<app-contact id="contact"></app-contact>
