<div class="section-container">
    <div class="title-section">
        <h2 class="text-blue"><strong>{{ sectionData.title }}</strong></h2>
        <p>{{ sectionData.subtitle }}</p>
    </div>

    <div class="experience-card" *ngFor="let project of projects">
        <div>
            <p class="light-text">{{ project.startDate | date: 'MMM y' | titlecase }} - {{ !project.endDate ? sectionData.presentLabel: project.endDate | date: 'MMM y' | titlecase }}</p>
            <h3><strong>{{ project.name }}</strong></h3>
            <p class="italic-text">{{ project.position }}</p>
            <ul>
                <li *ngFor="let responsability of project.responsabilities">{{ responsability }}</li>
            </ul>

            <div class="skills-container">
                <span class="skill" *ngFor="let skill of project.skills">{{ skill }}</span>
            </div>
        </div>
    </div>
</div>
